@import url('/OnlineTech/assets/css/libraries/index.css');
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--color-base-200);
  border-radius: 0.5rem;
  display: flex;
  width: max-content;
}
.menu li {
  margin: 0;
}
.menu li a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #ecf9ff;
  transition: background-color 0.3s;
  border-radius: 5px;
}
.menu li a:hover {
  background-color: #2e3b45;
  border-radius: 5px;
}
.navbar {
  max-height: 5rem;
  background-color: var(--color-base-300);
  border-bottom: 1px var(--color-base-100) solid;
  grid-column: span 12;
}
.navbar-end {
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 1024px) {
  .navbar {
    grid-column: span 8;
  }
}
@media (max-width: 768px) {
  .navbar {
    grid-column: span 4;
  }
}